server {
    listen 8000;
    server_name minio.justic.store;

    client_max_body_size 0;

    location / {
        proxy_pass http://10.1.1.50:9001;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;

        # 🔥 핵심 수정
        proxy_set_header Host $http_host;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # 안정성 보강 (권장)
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Forwarded-Port 8000;

        proxy_read_timeout 600s;
        proxy_send_timeout 600s;
    }
}
