# ===============================
# Network
# ===============================
bind 10.1.1.5
port 6379
protected-mode no

# ===============================
# Persistence (RDB OFF)
# ===============================
save ""
stop-writes-on-bgsave-error no

